body {
  background-color: #f7f4ec; /* Replace with your desired background color */
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.topPart{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: #f7f4ec;
  padding-bottom: 16px;
  /* outline: 1px solid #dbdada; */
  border-bottom: 1px solid #dadada;
  
}
.topbar {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  height: 7vh;
  top: 0;
  padding-top: 20px;
}
.topbar h1{
  
  font-size: x-large;
  font-weight: 800;
}
.back-button {
  margin-right: 10px;
  margin-left: -6px;
  font-size: x-large;
  border: none;
  background-color: #f7f4ec;
  color: black;
}
.room-name {
 width: 90%;
 text-align: left;
 margin-left: 10px;
 font-size: larger;
}
.edit-button {
  align-items:end;

  border: none;
  background-color: #f7f4ec;
  color: black;

  font-size: larger;
  margin-left: auto;
  align-content: end;
  display: flex;
  margin-right: 6px;
}




.tripInfo{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  font-size: larger;
  border: none;
  color: black;
  background-color: #f7f4ec;

}
.tripInfo img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-left: 5px;
}
.tripInfo .fromTo{
  
  text-align: left;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  
}
.line {
  display: flex;
  flex-direction:row;
  align-items: center;
}
.label {

  margin-left: 5px;
    margin-top: auto;
    font-weight: 600;
    font-size: large;
}
.tripInfo svg{
  margin-left: auto;
  align-content: end;
  margin-right: 15px;
  background-color: #f7f4ec;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
